@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/gilroy/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy-SemiBold', sans-serif;
}

* {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 85%;
  margin: auto;
}

.section {
  width: 100%;
  padding-top: 40px;
}

.header {
  padding: 20px 0;
  background-color: #ffffff;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.main-swiper__link {
  text-decoration: none;
}

.main-swiper__list {
  padding-bottom: 60px;
}

.main-swiper__list__item {
  overflow: hidden;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-swiper__footer {
  min-height: 60px;
  padding: 0 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d9cd8;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.main-swiper__image {
  min-height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.main-swiper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-swiper__content:hover > .main-swiper__footer {
  background-color: #4ab0e0;
}

.main-swiper__content:hover > .main-swiper__content__item .main-swiper__image {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-swiper__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-swiper__text {
  font-family: 'Gilroy-Regular', sans-serif;
  max-width: 520px;
  padding: 20px 60px;
  position: absolute;
  bottom: 0;
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-swiper__text--right {
  left: 60%;
}

.main-swiper__text--primary {
  font-size: 190px;
  font-weight: bold;
}

.main-swiper__title {
  padding: 20px 60px;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-size: 40px;
  color: #000000;
}

.main-swiper__title--blue {
  color: #1d9cd8;
}

.main-swiper__title--light {
  color: #ffffff;
}

.main-swiper__product-name {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-swiper__product-description {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-swiper__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.main-swiper__pagination .swiper-pagination-bullet {
  margin: 0 10px !important;
  width: 18px;
  height: 18px;
  background-color: #1d9cd8;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.main-swiper__pagination .swiper-pagination-bullet-active {
  background-color: #000000;
}

.main-swiper__pagination .swiper-pagination-bullet:hover {
  opacity: .6;
}

.menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__list__item {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1d9cd8;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__list__item--active {
  color: #000000;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__image-block {
  max-width: 600px;
  max-height: 600px;
}

.footer {
  margin-top: 220px;
  margin-bottom: 40px;
}

.footer__phone {
  font-size: 27px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__phone:hover {
  text-decoration: underline;
}

.footer__description {
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}

.footer__copyright {
  margin-top: 80px;
}

.footer__copyright__text {
  font-family: 'Gilroy-Regular', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
}

.footer__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
}

.footer__list__links {
  width: 50%;
}

.footer__list__link {
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__list__link:not(:last-of-type) {
  margin-bottom: 20px;
}

.footer__list__link:hover {
  color: #4cc7e9;
}

.footer__list__link--arrow {
  position: relative;
}

.footer__list__link--arrow::before, .footer__list__link--arrow::after {
  content: '';
  position: absolute;
  top: 0;
  right: -15px;
  background-color: #000000;
}

.footer__list__link--arrow::before {
  -webkit-transform: translate(58%, 17%);
          transform: translate(58%, 17%);
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
}

.footer__list__link--arrow::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 1px;
  height: 12px;
  background: #000000;
}

.footer__list__columns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.footer__list__columns__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.footer__title {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title__text {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .footer {
    margin-top: 120px;
  }
  .footer__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__title__text {
    padding: 0;
  }
  .footer__list__link {
    font-size: 12px;
  }
  .footer__copyright {
    margin-top: 40px;
  }
  .footer__copyright__text {
    font-size: 12px;
  }
  .menu__image-block {
    display: none;
  }
  .menu__list {
    margin-top: 40px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list__item {
    padding: 8px 0;
  }
  .menu__list__item--active {
    color: #1d9cd8 !important;
  }
  .menu__link {
    font-size: 14px;
  }
  .section {
    padding-top: 0;
  }
  .container {
    width: 95%;
  }
  .main-swiper__text {
    max-width: 300px;
    font-size: 24px;
    padding: 0px 20px;
  }
  .main-swiper__text--primary {
    font-size: 132px;
  }
  .main-swiper__pagination {
    bottom: 16px !important;
  }
  .main-swiper__title {
    padding: 15px 20px;
    font-size: 24px;
  }
  .main-swiper__footer {
    padding: 0 20px;
  }
  .main-swiper__product-name {
    font-size: 14px;
  }
  .main-swiper__product-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 770px) {
  .footer {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .footer__title {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list__links {
    width: 100%;
  }
  .main-swiper__pagination .swiper-pagination-bullet {
    margin: 0 4px !important;
  }
  .main-swiper__footer {
    padding: 0 10px;
  }
  .main-swiper__title {
    padding: 15px 10px;
  }
  .main-swiper__text {
    padding: 15px 10px;
    font-size: 30px;
  }
  .main-swiper__text--primary {
    font-size: 98px;
  }
}
/*# sourceMappingURL=style.css.map */