@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/gilroy/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/gilroy/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/gilroy/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}