@media screen and ( max-width: 1280px )
  .footer
    margin-top: 120px
    &__title
      flex-direction: column
      align-items: flex-start
      &__text
        padding: 0
    &__list
      &__link
        font-size: 12px
    &__copyright
      margin-top: 40px
      &__text
        font-size: 12px
  .menu
    &__image-block
      display: none
    &__list
      margin-top: 40px
      width: 100%
      align-items: center
      &__item
        padding: 8px 0
        &--active
          color: $blue !important
    &__link
      font-size: 14px
  .section
    padding-top: 0
  .container
    width: 95%
  .main
    &-swiper
      &__text
        max-width: 300px
        font-size: 24px
        padding: 0px 20px
        &--primary
          font-size: 132px
      &__pagination
        bottom: 16px !important
      &__title
        padding: 15px 20px
        font-size: 24px
      &__footer
        padding: 0 20px
      &__product
        &-name
          font-size: 14px
        &-description
          font-size: 14px
@media screen and ( max-width: 770px )
  .footer
    margin-top: 80px
    margin-bottom: 20px
    &__title
      width: 100%
      margin-bottom: 40px
    &__list
      flex-direction: column
      &__links
        width: 100%
  .main
    &-swiper
      &__pagination
        .swiper-pagination-bullet
          margin: 0 4px !important
      &__footer
        padding: 0 10px
      &__title
        padding: 15px 10px
      &__text
        padding: 15px 10px
        font-size: 30px
        &--primary
          font-size: 98px
